<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productType">
            <h2><span jhiTranslate="logisticApp.productType.detail.title">Product Type</span> {{productType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="logisticApp.productType.name">Name</span></dt>
                <dd>
                    <span>{{productType.name}}</span>
                </dd>
                <dt><span jhiTranslate="logisticApp.productType.alias">Alias</span></dt>
                <dd>
                    <span>{{productType.alias}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-type', productType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
